<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% if (user) {%>
      <h2>Saludos, camarada <%= user %></h2>
      <% } else { %>
        <h2>La cagastes crack</h2>
      <%} %>

  </body>
</html>
