<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>REGISTER</h2>
    <form action="/register" method="post">
      <input type="text" name="username" placeholder="Nom"> <br />
      <input type="password" name="password" placeholder="Password"> <br />
      <input type="submit" name="Log in">
    </form>

  </body>
</html>
